:root {
  --main-color: #00c7fc;
  --sec-main-color: #0f748fb3;
  --main-padding: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jomhuria", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main_headding {
  text-align: center;
}

.main_headding h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.main_headding h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #333;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  background-color: white;
}

.main_headding h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 120px;
  background-color: #333;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}

.main_headding p {
  color: #777;
  width: 550px;
  max-width: 100%;
  line-height: 2;
  margin: 0 auto 100px;
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}

header .container .logo img {
  height: 40px;
}

header .container nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

header .container nav .fa-bars {
  color: white;
  font-size: 22px;
}

@media (min-width: 767px) {
  header .container nav .fa-bars {
    display: none;
  }
}

header .container nav ul {
  display: flex;
}

header .container nav ul a {
  color: white;
  padding: 40px 10px;
  display: block;
  z-index: 2;
  font-size: 14px;
  transition: 0.4s;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }

  header .container nav .fa-bars:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }

  header nav ul li a {
    padding: 15px !important;
  }
}

header .container nav ul a.active,
header .container nav ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .container .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 20px;
  border-left: 1px solid white;
}

header .container .form i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

header .container .form i:hover {
  color: var(--main-color);
}

.landing {
  background-image: url(landdingphoto/landing.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.landing .overlayer {
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  position: absolute;
}

.landing .lan_text {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  left: 0;
  padding: 50px;
  color: white;
  background-color: var(--sec-main-color);
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .landing .lan_text {
    width: 100%;
  }
}

.landing .lan_text .text-con {
  max-width: 500px;
}

.landing .lan_text .text-con h3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .lan_text .text-con p {
  font-size: 14px;
  line-height: 2;
}

.landing .scrollphoto {
  position: absolute;
  color: #ddd;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .landing .scrollphoto {
    display: none;
  }
}

.landing .scrollphoto:hover {
  color: var(--main-color);
}

.landing .fa-angle-right {
  right: 30px;
}

.landing .fa-angle-left {
  left: 30px;
}

.landing .rings-lan {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}

.landing .rings-lan li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.landing .rings-lan li:hover {
  background-color: var(--sec-main-color);
}

.landing .rings-lan .active {
  background-color: var(--main-color);
  border-color: transparent;
}

.services {
  padding: var(--main-padding) 0;
}

.services .box {
  display: flex;
}

.services .box i {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .services .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
  }

  .services .box i {
    margin: 0 0 30px;
  }
}
.services .box h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}

.services .box p {
  line-height: 2;
  color: #777;
}

@media (min-width: 768px) {
  .services .ser-con {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

.design {
  padding: var(--main-padding) 0;
  background-image: url(designimg/design-features.jpg);
  background-size: cover;
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
}

.design::before {
  content: "";
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.design .img,
.design .text {
  z-index: 2;
  flex: 1;
  position: relative;
}

.design .img {
  text-align: center;
  position: relative;
  top: 130px;
}

@media (max-width: 767px) {
  .design .img {
    display: none;
  }
}

.design .text {
  background-color: var(--sec-main-color);
  padding: 50px;
  border-radius: 10px;
}

.design .text h3 {
  font-weight: normal;
  margin-bottom: 40px;
  font-size: 20px;
}

.design .text li {
  padding: 15px 0;
}

.design .text li::before {
  content: "\f390";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}

.portfolio {
  padding: var(--main-padding) 0;
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
}

.portfolio .shuffle li {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.portfolio .shuffle li:hover {
  color: white;
  background-color: var(--main-color);
  font-weight: normal;
}

.portfolio .shuffle li.active {
  color: white;
  background-color: var(--main-color);
  font-weight: normal;
}

.portfolio .port_con {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.portfolio .port_con .box {
  overflow: hidden;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .portfolio .port_con .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .portfolio .port_con .box {
    flex-basis: 25%;
  }
}

.portfolio .port_con .box img {
  max-width: 100%;
  transition: 0.4s;
}

.portfolio .port_con .box .caption {
  position: absolute;
  padding: 20px;
  left: 0;
  width: 100%;
  transition: 0.4s;
  background-color: white;
  bottom: -100%;
}

.portfolio .port_con .box:hover .caption {
  bottom: 0;
}

.portfolio .port_con .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

.portfolio .port_con .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.portfolio .port_con .box .caption p {
  color: var(--main-color);
}

.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  border-radius: 15px;
  width: fit-content;
  margin: 30px auto;
  transition: 0.4s;
}

.video {
  position: relative;
}

.video video {
  width: 100%;
}

.video .video_text {
  background-color: var(--sec-main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
  padding: 50px;
}

.video .video_text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.video .video_text p {
  margin-bottom: 30px;
}

.video .video_text button {
  color: white;
  background: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.4s;
}

.video .video_text button:hover {
  color: black;
  background-color: white;
}

.about {
  padding-top: var(--main-padding);
  text-align: center;
  overflow: hidden;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}

.stats {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url(stat/stats.png);
  background-size: cover;
  position: relative;
  text-align: center;
}

.stats::before,
footer::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  padding: 50px;
  color: white;
  background-color: var(--sec-main-color);
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
  cursor: pointer;
  transition: 0.4s;
}

.stats .container .box i:hover {
  color: var(--main-color);
}

.stats .container .box .num {
  font-size: 40px;
  margin-bottom: 20px;
  transition: 0.4s;
  cursor: pointer;
  font-weight: bold;
}

.stats .container .box .num:hover {
  color: black;
}

.stats .container .box p {
  font-size: 14px;
}

.skills {
  padding: var(--main-padding) 0;
}

.skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .skills .container > div {
    flex-basis: 45%;
  }
}

.skills .container > div > h3 {
  font-weight: normal;
  text-align: center;
  margin: 0 0 30px;
}

.skills .container > div > p {
  text-align: center;
  color: #777;
  line-height: 2;
  margin-bottom: 60px;
}

.skills .container .testimonals img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.skills .container .testimonals img:hover {
  transform: scale(1.06);
}

.skills .container .testimonals .box {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

@media (max-width: 767px) {
  .skills .container .testimonals .box {
    flex-direction: column;
    text-align: center;
  }

  .skills .container .testimonals img {
    margin: 0 auto 20px;
  }
}

.skills .container .testimonals .box .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

@media (max-width: 767px) {
  .skills .container .testimonals .box .text {
    text-align: center;
  }
}

.skills .container .testimonals .box .text p {
  text-align: right;
  margin: 10px 0;
  font-size: 14px;
  color: #777;
}

.skills .container .rings-lan {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.skills .container .rings-lan li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.skills .container .rings-lan li:hover {
  background-color: var(--main-color);
}

.skills .container .rings-lan .active {
  background-color: var(--main-color);
  border-color: transparent;
}

.skills .container .skill .in_box > h4 {
  margin-bottom: 15px;
  font-weight: normal;
}

.skills .container .skill .in_box .in {
  height: 30px;
  background-color: #dedadc;
  margin-bottom: 35px;
  cursor: pointer;
}

.skills .container .skill .in_box .in span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}

.skills .container .skill .in_box .in span::before {
  content: attr(data-in);
  color: white;
  background-color: black;
  position: absolute;
  padding: 4px 0;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  right: -18px;
  top: -40px;
}

.skills .container .skill .in_box .in span::after {
  content: " ";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  right: -8px;
  top: -15px;
  border-color: black transparent transparent transparent;
}

.quote {
  padding: var(--main-padding) 0;
  background-image: url(quote/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}

.quote::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 75%);
}

.quote .container {
  position: relative;
  color: white;
}

.quote .container q {
  font-size: 30px;
  margin-bottom: 25px;
  display: block;
}

.price {
  padding: var(--main-padding) 0;
}

.price .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.price .boxs .box {
  background-color: #fcfcfc;
  text-align: center;
}

.price .boxs .box .box_head {
  padding: 40px 20px;
  border-bottom: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
}

.price .boxs .box .box_head h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.price .boxs .box .box_head span {
  font-weight: bold;
  font-size: 60px;
  cursor: pointer;
  transition: 0.4s;
}

.price .boxs .box .box_head span:hover {
  color: var(--main-color);
}

.price .boxs .box .box_head span::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
  color: black !important;
}
.price .boxs .box .box_head span::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -15px;
  color: black !important;
}

.price .boxs .box ul {
  border-bottom: 1px solid var(--main-color);
}

.price .boxs .box ul li {
  padding: 20px;
  position: relative;
}

.price .boxs .box ul li:not(:last-child)::after {
  content: "";
  width: 120px;
  height: 1px;
  position: absolute;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.price .boxs .box .foot a {
  display: block;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  border-radius: 5px;
  transition: 0.4s;
  color: black;
}

.price .boxs .box .foot a:hover {
  background-color: var(--main-color);
  color: white;
}

.price .contact-text {
  text-align: center;
  font-size: 20px;
  margin: 35px 0 25px;
}

.price .contact-link {
  padding: 15px 30px;
  background-color: var(--main-color);
  color: white;
  display: block;
  width: fit-content;
  margin: 20px auto;
  border-radius: 10px;
  transition: 0.4s;
}

.price .contact-link:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.sub {
  padding: var(--main-padding) 0;
  position: relative;
  background-image: url(sub/subscribe.jpg);
  background-size: cover;
  color: white;
}

.sub::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}

.sub .container {
  position: relative;
  display: flex;
  align-items: center;
}

.sub input::placeholder {
  color: white;
}

@media (max-width: 991px) {
  .sub .container {
    flex-direction: column;
  }
}

.sub .container form {
  width: 500px;
  max-width: 100%;
  display: flex;
  position: relative;
}

.sub .container form input[type="email"] {
  padding: 20px 20px 20px 60px;
  background: none;
  outline: none;
  border: 1px solid white;
  border-right: none;
  color: white;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  cursor: pointer;
}

.sub .container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 20px;
}

.sub .container form input[type="submit"] {
  text-transform: uppercase;
  padding: 10px 20px;
  color: white;
  background-color: var(--main-color);
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
  transition: 0.4s;
}

.sub .container form input[type="submit"]:hover {
  background-color: white;
  color: var(--main-color);
}

.sub p {
  margin-left: 50px;
  line-height: 2;
  text-align: center;
}

@media (max-width: 991px) {
  .sub p {
    margin: 30px 0 0;
  }
}

.contact {
  padding: var(--main-padding) 0;
}

.contact .con {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contact .con {
    flex-direction: column;
  }
}

.contact .con form {
  flex-basis: 70%;
}

.contact .con form .main-input {
  display: block;
  padding: 20px;
  outline: none;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  width: 100%;
  caret-color: var(--main-color);
}

.contact .con form textarea.main-input {
  height: 200px;
}

.contact .con form input[type="submit"] {
  display: flex;
  margin-left: auto;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
}

.contact .con form input[type="submit"]:hover {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
}

.contact .con .info {
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .contact .con .info {
    order: -1;
    text-align: center;
  }
}
.contact .con .info h4 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.contact .con .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .con .info h4:last-of-type {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .contact .con .info h4:last-of-type {
    margin-top: 40px;
  }
}

.contact .con .info address {
  color: #777;
  line-height: 2;
}

@media (max-width: 767px) {
  .contact .con .info address {
    margin-bottom: 30px;
  }
}

footer {
  padding: calc(var(--main-padding) / 2) 0;
  background-image: url(sub/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}

footer .container {
  position: relative;
  text-align: center;
}

footer .container img {
  margin-bottom: 20px;
}

footer .container p:not(.copyright) {
  font-size: 22px;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
}

footer .container .so-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer .container .so-icons i {
  cursor: pointer;
  transition: 0.4s;
  width: 35px;
  height: 35px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
}

footer .container .so-icons i:hover {
  color: var(--main-color);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
}

footer .container .copyright {
  margin-top: 60px;
}

footer .container .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
